*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f3f8f3;
}

.container{
max-width:550px;
margin:20px auto;
padding:25px;
background:white;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
text-align:center;
color:#0a7d32;
margin-bottom:10px;
}

.author{
text-align:center;
font-size:14px;
color:gray;
margin-bottom:20px;
}

label{
display:block;
font-weight:bold;
margin-top:15px;
margin-bottom:8px;
}

input,
select{
width:100%;
padding:12px;
font-size:16px;
border:1px solid #ccc;
border-radius:8px;
}

button{
width:100%;
padding:14px;
margin-top:15px;
font-size:16px;
background:#0a7d32;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#066226;
}

.result{
margin-top:25px;
padding:20px;
background:#f8fff8;
border-left:5px solid green;
border-radius:12px;
}

.result h2{
font-size:19px;
margin-bottom:15px;
color:#003366;
}

.buttons button{
margin-top:10px;
}

footer{
margin-top:25px;
text-align:center;
font-size:13px;
color:#666;
line-height:24px;
}

hr{
margin:15px 0;
}

@media(max-width:600px){

.container{
width:95%;
padding:20px;
}

h1{
font-size:28px;
}

.result h2{
font-size:17px;
}

}
.dark-mode{
    background-color:#1e1e1e;
    color:white;
}

.dark-mode .container{
    background-color:#2c2c2c;
}

.dark-mode input,
.dark-mode select{
    background-color:#333;
    color:white;
}

.dark-mode #result{
    background-color:#333;
    color:white;
}

.dark-mode footer{
    color:white;
}

.dark-mode a{
    color:#90caf9;
}
